/*A singlar song item*/
.song-item {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.song-item ul {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 4rem 5rem;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
/* song image */
.songPFP {
    height: 350px;
    width: 350px;
    display: block;
}

.songWrapper:hover {
    background-color: #bf87ff;
    padding: 1.5px;
}
.title {
    font-size: xx-large;
    max-width: 320px;      
    word-wrap: break-word;
    overflow-wrap: break-word;
}
/*Song information*/
.song-info {
  min-width: 320px;
  max-width: 320px;
}

/*Position of Song Information*/
.song-card {
    display: flex;            
    gap: 2rem;
    margin-top: 3rem;
    margin-right: 20px;
} 

/*Links*/
.song-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0;
    margin: 0;
}
.song-media {
  width: 350px;
  flex: 0 0 350px;
}

.song-platforms {
  width: 350px;
}

.song-platforms .song-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 0;
  margin: 0;
}

.song-platforms .song-links a {
  display: block;
  text-align: center;
}