.genre-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.genre-btn {
    outline: none;
    border: none;
    border-radius: 100px;
    color: #bf87ff;
}
