main {
    display: flex;
    align-items: center;
}

.songPFP {
    height: 200px;
    width: 150px;
    margin-right: 20px;
}



.songPFP {
    height: 500px;
    width: 350px;
    margin-right: 200px;
}

.song-info {
    margin-left: -120px;
    position: relative;
}

