.song-item {
    display: flex;
    align-items: center;
}


.songPFP {
    height: 500px;
    width: 350px;
    margin-right: 200px;
}

.song-item li {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 2rem;
}


