/*A singlar song item*/
.song-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
/* song image */
.songPFP {
    height: 500px;
    width: 350px;
    margin-right: 20px;
}
.title {
    font-size: xx-large;
}


/*Position of Song Information*/
.song-card {
  display: flex;            
  gap: 2rem;
  margin-top: 3rem;
} 


.song-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 10px;
    padding: 0;
    margin: 0;
}
