.lists-display {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
  padding-bottom: 4rem;
}

.lists-display h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #bf87ff;
}

@media (max-width: 600px) {
  .songlist-card {
    padding: 1rem;
  }

  .card-header h3 {
    font-size: 1.05rem;
  }

  .song-list {
    padding-left: 1rem;
  }
}