.lists-display {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1.5rem;
  color: white;
  padding-bottom: 4rem;
}

.lists-display h2 {
  grid-column: 1 / -1; 
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  color: #bf87ff;
}

@media (max-width: 600px) {
  .songlist-card {
    padding: 1rem;
  }

  .card-header h3 {
    font-size: 1.05rem;
  }

  .song-list {
    padding-left: 1rem;
  }
}